html {
    background: url(/images/background-image.jpeg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-size: 100px;
}


 .flags {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flags img{
    width: 400px;
    height: 250px;
    display: flex;
    /* padding-top: 20%; */
    /* padding-right: 40px; */
    border: black 4px solid;
    border-radius: 20px;
    margin-right: 40px;
    margin-top: 20%;
} 

.flags img:hover {
    opacity: 80%;
}