html {
    background: url(../images/background-image.jpeg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-size: 100px;
    margin-bottom: 11rem;
    text-shadow: 2px 2px #ffffff;
}
 .flags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* overflow: hidden; */
}
.flags img{
    width: 400px;
    height: 250px;
    display: flex;
    border: black 4px solid;
    border-radius: 20px;
} 
.flags img:hover {
    opacity: 80%;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.9);
}